<template>
    <div>
        <div class="portfolioHeader">
            <div class="masonryWords">
            <h1>Our Music</h1>
            <p>This is a demo of what a portfolio section might look like.</p>
            <p>This selection of works comes from Grimm Forest Music's in house producers.</p>
            </div>
         </div>
        <div class="masonrySection">
            <div v-masonry transition-duration="0.3s" item-selector=".item" fit-width="true" class="theMasonry" gutter=".gutter-item" >
                <div class="gutter-item"></div>
                <div v-masonry-tile class="item workContainer" v-for="work in portfolio" :key="work.title" >

                    <img :src = work.image alt=""
                        @click='loadPortfolioWork(work)'
                    >
                    <div class="overlay"
                         @click='loadPortfolioWork(work)'>
                        <div class="overlayText">{{work.title}}</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { portfolio } from '../../grimmData';
import { navigation } from '../../mixins/navigation';

export default {
  mixins: [navigation],
  data() {
    return {
      portfolio,
    };
  },
  methods: {
    loadPortfolioWork(work) {
    // Portfolio needs updated with vuex-router-sync
      this.navigateToPortfolioWork(work.title); // only use this
    },
  },

};
</script>

<style scoped>

    /* .portfolioHeader {
        background: #F8F7F7;
    } */

    .portfolioHeader > * {
        max-width: 1300px;
        margin: 0 auto;
        /* min-height: 30vh; */
        padding: 20px 10px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }

    h1 {
        color: green;
        padding: 5px;
        font-weight: normal;
    }

    p {
        padding: 5px;
        max-width: 900px;
        margin: auto;
    }

    .masonryWords {
        border-bottom: 1px solid green;
        margin: 0px auto 35px auto;
        padding-top: 40px;
    }

    .masonrySection {
        max-width:1360px;
        margin:0 auto;
        padding-bottom: 15px;
        border-bottom: 1px solid green;
    }

    .theMasonry {
        margin:0 auto;
    }

    .gutter-item {
        width: 15px;
    }
    .workContainer {
        margin-bottom:15px;
    }

    img {
        width: 320px;
        display: block;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgba(114, 255, 114, 0.973);
        /* background-color: rgb(61, 189, 61); */
    }

    .workContainer:hover .overlay {
        opacity: 1;
        cursor: pointer;
        margin: 0px;
        padding: 0px;
    }

    .overlayText {
        color: rgb(22, 22, 22);
        font-size: 2.5em;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

</style>
