<template>
    <div class="portfolioWorkSection">
        <button class="outButton" @click="navigateToPortfolio"><i class="fas fa-times"></i></button>
        <div class="videoContainer">
            <div class="videoWrapper">
                <iframe v-if="portfolioWork.embed.site = 'youtube'" width="560" height="315" :src="portfolioWork.embed.link" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <iframe v-if="portfolioWork.embed.site = 'vimeo'" :src="portfolioWork.embed.link" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>

        <div class="infoSection">

            <div>
                <font-awesome-icon  v-if="!firstWork" class="nav" icon="angle-left" @click='previousWork(portfolio, portfolioWork)' />
            </div>

            <div class="workInfo">
                <h1>{{portfolioWork.title}}</h1>
                <div v-if="portfolioWork.business" class="details">
                    <ul>
                        <li v-if="portfolioWork.business.client"><span class="bold">Client:</span> {{portfolioWork.business.client}}</li>
                        <li v-if="portfolioWork.business.agency"><span class="bold">Agency:</span> {{portfolioWork.business.agency}}</li>
                        <li v-if="portfolioWork.business.production"><span class="bold">Production:</span>  {{portfolioWork.business.production}}</li>
                    </ul>
                </div>
                <p v-else>{{portfolioWork.description}}</p>
            </div>

            <div >
                <font-awesome-icon  v-if="!lastWork" class="nav" icon="angle-right" @click='nextWork(portfolio, portfolioWork)' />
            </div>

        </div>
    </div>
</template>

<script>

import { portfolio } from '../../grimmData';
import { navigation } from '../../mixins/navigation';
import { formatToURL } from '../../mixins/formatToURL';

export default {
  mixins: [navigation, formatToURL],
  data() {
    return {
      portfolio,
    };
  },
  computed: {
    portfolioWork() {
      let workReturn = {};
      portfolio.forEach((work) => {
        if (this.titleToURL(work.title) === this.$store.getters.portfolioWork) { // Friendly reminder titleToURL comes from formatToURL mixin
          workReturn = work;
        }
      });
      return workReturn;
    },
    lastWork() { // used to show or hide triangles
      return this.portfolio.indexOf(this.portfolioWork) === this.portfolio.length - 1;
    },
    firstWork() {
      return this.portfolio.indexOf(this.portfolioWork) === 0;
    },
  },
  methods: {
    previousWork(thePortfolio, portfolioWork) {
      let workIndex = thePortfolio.indexOf(portfolioWork);
      if (workIndex > 0) {
        workIndex -= 1;
      }
      this.navigateToPortfolioWork(this.titleToURL(thePortfolio[workIndex].title));
    },
    nextWork(thePortfolio, portfolioWork) {
      let workIndex = thePortfolio.indexOf(portfolioWork);
      if (workIndex < thePortfolio.length - 1) {
        workIndex += 1;
      }
      this.navigateToPortfolioWork(this.titleToURL(thePortfolio[workIndex].title));
    },
  },

};
</script>

<style scoped>
    .portfolioWorkSection {
        /* max-width: 1200px; */
        margin: 0 auto;
        /* height: 99vh; */
        padding: 55px 3px 20px 3px;
        margin-bottom: -75px;
        position: relative;
        /* top: 0;
        left:0;
        height: 100vh;
        width: 100vw;
        position:fixed;
        z-index: 1;
        background: rgba(111, 252, 111, 0.767);*/
        /* background: rgba(114, 255, 114, 0.975); */
    }

    .infoSection {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        align-items: center;
    }


    .nav {
         font-size: 2em;
        padding: 10px;
    }

    .nav:hover{
          cursor: pointer;
        color: green;
    }

    i {
        font-size: 2em;
        padding: 10px;
    }

    i:hover{
        cursor: pointer;
        color: green;
    }

    h1 {
        padding: 15px;
    }

    p {
        padding: 10px;
    }

    .details {
        display: flex;
        justify-content: center;
        /* flex-flow:column; */
    }

     ul {
        text-align: left;
        list-style-type: none;
        padding-bottom: 20px;
        /* display: flex; */
        /* flex-flow: row wrap; */
        /* align-items: center; */
        /* margin: 2px; */
    }

    .bold {
        font-weight: bold;
    }

    li{
        padding-top: 10px;
        margin:0px 0px 0px 5px ;
    }

    .videoContainer {
        position: relative;
        max-width: 1000px;
        margin: 0 auto;
    }

    .videoWrapper {
        position: relative;
        padding-bottom: 54.8%; /* 16:9 */
        padding-top: 15px;
        height: 0;
    }
    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

       .outButton {
        position: absolute;
        top: 10px;
        right:10px;
        z-index: 10;
        /* background: rgb(114, 255, 114); */
        text-align: left;

        font-size: 8px;
        border: none;
        /* border: 1px solid black; */
        /* padding:3px; */
        border-radius: 50%;
    }

    .outButton:hover {
        cursor: pointer;
        background: grey;
    }

    @media screen and (max-width: 700px){
         .portfolioWorkSection {
        /* max-width: 1200px; */
        margin: 0 auto;
        /* height: 99vh; */
        padding: 35px 3px 20px 3px;
        margin-bottom: -75px;
    }

    .outButton{
        /* left: 2px; */
            top: 2px;
            font-size: 6px;
    }


    }


</style>
