<template>
    <div id="collectionOptions" >
         <div>
            <button :class="{copyCustom: !copyMessage ,linkCopied: copyMessage }"
                v-clipboard:copy="copyCustomPlaylistLink(currentPlaylist[0].collection.title)"
                @click ='messageCopied'
            >{{copyLink}}</button>
        </div>
        <h2>{{currentPlaylist[0].collection.title}}</h2>
        <img :src="currentPlaylist[0].image" alt="">
        <p>{{currentPlaylist[0].collection.description}}</p>
    </div>
</template>

<script>

import { mapGetters } from 'vuex';
// import { navigation } from '../../mixins/navigation';

import { formatToURL } from '../../mixins/formatToURL';


export default {
  mixins: [formatToURL],
  data() {
    return {
      copyLink: 'Copy link to Collection',
      hideAbout: true,
      copyMessage: false,
    };
  },
  computed: {
    ...mapGetters(['collection', 'currentPlaylist']), // the collection getter only returns the title
  },
  methods: {
    copyCustomPlaylistLink(theCollectionTitle) {
      return `${this.$store.state.siteDomain}music/collection/${this.titleToURL(theCollectionTitle)}`;
    },
    messageCopied() {
      this.copyMessage = true;
      this.copyLink = 'Link copied to clipboard';
      setTimeout(() => {
        this.copyMessage = false;
        this.copyLink = 'Copy link to Collection';
      }, 1500);
    },


  },

};
</script>

<style scoped>
 #customOptions {
        /* width: 400px; */
        /* padding: 10px; */
        max-width: 100%;
        align-self: flex-start;
        display: flex;
        flex-flow: column;
        align-items: center;
        /* margin-top: 75px; */
        /* margin-bottom: 20px; */
    }

    button {
            font-family: 'Quicksand','Raleway',  'Avenir', Helvetica, Arial, sans-serif;
            /* padding: 5px; */
            margin-top: 15px;
            width: 274px;
            height: 30px;
            font-size: .89em;
            border: 1px solid black;
        }

    button:hover {
        cursor: pointer;
        opacity: 1;
     }

    img {
        max-height: 200px;
        margin-top: 20px;
    }

    h2 {
        font-weight: normal;
        margin-top: 20px;
    }

    p {
        max-width: 300px;
        margin-top: 20px;
    }

    .copyCustom {
        background:rgba(113, 255, 113, 0.582) ;
    }
    .copyCustom:hover {
        background:rgb(113, 255, 113);
    }

    #aboutCustom {
        background: rgba(157, 209, 255, 0.562);
    }
    #aboutCustom:hover {
        background: rgb(157, 209, 255);
    }

    .linkCopied{
          background: #5bff84;
    }
    .aboutCustomSection {
        padding: 10px;
    }

    @media screen and (max-width: 1380px){
        #collectionOptions{
            width: 100%;
            margin-top: 0px;
        }

    }

</style>
