<template>
    <div id="customOptions" >

        <button id="aboutCustom"
            @click="hideAbout = !hideAbout"
        >About Custom Playlist</button>

         <div v-if='!hideAbout' class="aboutCustomSection">
                <!-- <h4>To Add A Track</h4> -->
                <p>- Click <i class="fas fa-plus"></i> to ADD a track to the Custom Playlist while Browsing.</p>
                <p>- If a track is already in the Custom Playlist it will display a  <i class="fas fa-minus"></i> sign.
                Click it to REMOVE the track.</p>
                <p>- To UNDO deleting a track while viewing the custom playlist, click the 'back' button of your internet browser. NOTE: If the track doesn't come back immediately, refresh your internet browser.</p>
                <p>- SAVING the Custom Playlist is done automatically in your browser UNLESS you are in Private Browsing
                    mode. Alternatively, you can copy a link
                    to the current Custom Playlist safe keeping. See 'SEND' below.
                </p>
                <p>- To SEND the custom playlist, you can click the Green Copy Link to Playlist Button below and paste it in
                    an email or a document for safe keeping.
                </p>
                <p>- CHANGES made to the Custom Playlist will be reflected in ALL TABS or WINDOWS of your Internet Browser.</p>

        </div>

        <button :class="{copyCustom: !copyMessage ,linkCopied: copyMessage }"
            v-clipboard:copy="copyCustomPlaylistLink(customPlaylist)"
            @click ='messageCopied'
        >{{copyLink}}</button>


        <button id="clearCustom"
            @click='clearCustomPlaylistNavigate()'
        >Clear Custom Playlist</button>


        <!-- <p class="linkCopied">Link was copied to clipboard.</p> -->
    </div>
</template>

<script>

import { mapGetters, mapMutations } from 'vuex';
import { navigation } from '../../mixins/navigation';
import { formatToURL } from '../../mixins/formatToURL';


export default {
  mixins: [navigation, formatToURL],
  data() {
    return {
      copyLink: 'Copy link to Playlist',
      hideAbout: true,
      copyMessage: false,
    };
  },
  computed: {
    ...mapGetters(['customPlaylist']),
    showClearCopy() {
      return this.customPlaylist.length > 0 && this.hideAbout;
    },
  },
  methods: {
    ...mapMutations(['clearCustomPlaylist']),
    clearCustomPlaylistNavigate() {
      this.clearCustomPlaylist();
      this.navigateToCustomPlaylist([]);
    },
    copyCustomPlaylistLink(customPlaylist) {
      return `${this.$store.state.siteDomain}music/link/${this.playlistToURL(customPlaylist)}`;
    },
    messageCopied() {
      this.copyMessage = true;
      this.copyLink = 'Link copied to clipboard';
      setTimeout(() => {
        this.copyMessage = false;
        this.copyLink = 'Copy link to Playlist';
      }, 1500);
    },


  },

};
</script>

<style scoped>
    #customOptions {
        /* width: 400px; */
        /* padding: 10px; */
        max-width: 100%;
        align-self: flex-start;
        display: flex;
        flex-flow: column;
        align-items: center;
        /* margin-top: 75px; */
        /* margin-bottom: 20px; */
    }


    button {
            font-family: 'Quicksand','Raleway',  'Avenir', Helvetica, Arial, sans-serif;
            /* padding: 5px; */
            margin-top: 15px;
            width: 274px;
            height: 30px;
            font-size: .89em;
            border: 1px solid black;
        }
    button:hover {
        cursor: pointer;
        opacity: 1;
     }
    .copyCustom {
        background:rgba(113, 255, 113, 0.582) ;
    }
    .copyCustom:hover {
        background:rgb(113, 255, 113);
    }

    #clearCustom{
        background: #ff6d6d7e;
    }
    #clearCustom:hover{
        background: #ff6d6d;
    }

    #aboutCustom {
        background: rgba(157, 209, 255, 0.562);
    }
    #aboutCustom:hover {
        background: rgb(157, 209, 255);
    }

    .linkCopied{
        background: #5bff84;
    }
    .aboutCustomSection {
        padding: 10px;
        max-width: 274px;
        text-align: left;
    }

    p {
      margin-bottom: 5px;
      padding: 5px;
    }

    h4 {
        font-weight: bold;
        text-align: center;
    }

    @media screen and (max-width: 1380px){
        #customOptions{
            width: 100%;
            margin-top: 0px;
        }

    }

</style>
