<template>
    <div id = 'detailedDisplay'>
            <div id = "detailedDisplayBox">
                <!-- <h3>Track Details</h3> -->
                    <ul><h4>Title:</h4><li>{{featuredWork.title}}</li></ul>
                    <ul><h4>Collection:</h4><li>{{featuredWork.collection.title}}</li></ul>
                    <ul><h4>Composer:</h4><li v-for="author in featuredWork.author " :key='author.name'>{{author.name}} ({{author.pro}})</li></ul>
                    <ul><h4>Publishing:</h4><li v-for="publishing in featuredWork.publishing " :key='publishing.name'>{{publishing.name}} ({{publishing.pro}})</li></ul>
                    <ul><h4>ISRC Code:</h4><li>{{featuredWork.codes.isrc}}</li></ul>
                    <ul><h4>BPM:</h4><li>{{featuredWork.tempo}} BPM</li></ul>
                    <ul><h4>Key:</h4><li>{{featuredWork.key}}</li></ul>
                    <ul><h4>Tags:</h4><li v-for="tag in featuredWork.tags " :key='tag'>{{tag}}</li></ul>
                    <font-awesome-icon icon="times-circle" @click="showHideDetailedInfo(false)" class="outButton" />
                    <ul><h4>Options:</h4><track-options :work="featuredWork"></track-options></ul>
            </div>
    </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import TrackOptions from '../FeaturedPlayerComponents/TrackOptions';

export default {
  components: {
    TrackOptions,
  },
  data() {
    return {
    };
  },
  computed: {
    ...mapGetters(['featuredWork', 'detailedInfoView']),
  },
  methods: {
    ...mapMutations(['showHideDetailedInfo']),
  },


};
</script>

<style scoped>

    #detailedDisplayBox {
        /* min-height: 200px; */
        display: flex;
        /* text-align: left; */
        font-size: 14px;
        flex-flow: column;
        justify-content: center;
        max-width: 450px;
        margin: auto;
        margin-top: 0px;
        padding: 10px;
        position: relative;
        border: 1px solid rgb(219, 219, 219);
    }


    ul {
        text-align: left;
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: 2px;
    }

    li{
        margin:0px 0px 0px 5px ;
    }

    img {
        max-height: 200px;
        max-width: 100%;
    }

    i {
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 20px;
        margin: 10px;
        /* color: rgb(82, 81, 81); */

    }

    .outButton {
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 20px;
        margin: 10px;
    }

    .outButton:hover {
        color: green;
        cursor: pointer;
    }

    i:hover {
        color: green;
        cursor: pointer;
    }

    @media screen and (max-width: 1100px) {
        .centerFlex {
            margin: 10px;
        }

        img {
            max-height: 150px;
        }

}

</style>
