<template>
    <div id = "displayWindow" class="animated slideInDown">

        <div id = "pictureTitle"  v-if="!detailedInfoView" >
            <div class="centerFlex">
                <img  :src="featuredWork.image" alt="">
            </div>
            <div class="centerFlex">
                    <h1>{{featuredWork.title}}</h1>
                    <font-awesome-icon icon="info-circle" @click="showHideDetailedInfo(true)" class="outButton" />
             </div>
             <div class="centerFlex">
                   <p>{{featuredWork.description}}</p>
                   <!-- <p>{{featuredWork.tempo}} BPM / {{featuredWork.key}}</p> -->
             </div>
             <div class="centerFlex">

                <p>Composed by</p>
                <ul>
                    <li v-for="author in featuredWork.author " :key='author.name'>{{author.name}} ({{author.pro}})</li>
                </ul>
             </div>

        </div>

        <detailed-info class="detailedInfo animated fadeIn" v-else></detailed-info>

    </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import DetailedInfo from './DetailedInfo';
import TrackOptions from '../FeaturedPlayerComponents/TrackOptions';

export default {
  components: {
    DetailedInfo,
    TrackOptions,
  },
  data() {
    return {
      detailedInfo: false,
    };
  },
  computed: {
    ...mapGetters(['featuredWork', 'detailedInfoView']),
  },
  methods: {
    ...mapMutations(['showHideDetailedInfo']),
  },

};
</script>

<style scoped>


    #displayWindow {
        /* margin-top: 50px; */
        padding-top: 15px;
        margin-bottom: 20px;

    }

     #pictureTitle {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        padding-top: 10px;
        width: 75%;
        margin: auto;
        /* color: #9cff4b; */
    }

    .detailedInfo{
        padding: 20px;
    }

    .titleArea {
        display: flex;
        flex-flow:row wrap;
        justify-content: space-around;
        align-items: center;

    }

    .titleArea p{
        text-align: left;
    }

    .titleArea > * {
        padding: 10px;
    }


    .centerFlex {
        display: flex;
        flex-flow: column wrap;
        justify-content:center;
        align-items: center;
        margin: 0px 30px;

    }

    h1 {
        color: green;
    }

    ul {
        /* text-align: left; */
        list-style-type: none;
        /* display: flex; */
        /* flex-direction: row; */
        justify-content: center;
        margin-bottom: 10px;
    }

    /* li {
        padding: 2px;
    } */

    .outButton {
       margin: 10px;
    }

    .outButton:hover {
        color: green;
        cursor: pointer;
    }

    img {
        max-height: 120px;
        max-width: 100%;
    }

    p {
        padding: 5px;
        max-width: 250px;
        font-size: 16px;
    }

         @media screen and (max-width: 1450px){
             #pictureTitle {
                 justify-content: center;
             }
         }


    @media screen and (max-width: 1100px) {
        .centerFlex {
            margin: 10px;
        }

        img {
            max-height: 150px;
        }

}

</style>
