<template>
    <div>
        <genre></genre>
        <tags></tags>
        <div id='playlistLogo'>
          <!-- <img src="../../assets/GrimmLogoTrees/GFM_Tree_600x1000.png" alt=""> -->
          <!-- <img src="../../assets/GrimmLogoTrees/GFM_Words_1391x128.png" alt=""> -->
        </div>

    </div>
</template>

<script>
import Genre from './Genre';
import Tags from './Tags';

export default {
  components: {
    Genre,
    Tags,
  },

};
</script>

<style scoped>
  #playlistLogo{
    display: flex;
    flex-flow: column wrap;
    margin-top: 10px;
    align-items: center;
  }
  img {
    max-width: 70px;
  }

  @media screen and (max-width: 1400px){
    #playlistLogo{
      display: none;
    }
  }
  @media screen and (max-height: 900px){
    #playlistLogo{
      display: none;
    }
  }

</style>
