<template>
    <div id="genre">
    <div class="grimmSelectMenu">
        <!-- <p>Select Genre</p> -->
        <!-- <p v-if="noSelect === true" @click="noSelect = false">Select Genre</p> -->

        <select name="genres" ref="genreSelect" v-model="selectedGenre" @change="setGenre(selectedGenre, playlist)">
            <option value="" disabled selected>{{currentGenre}}</option>
            <option value="none">All Genres</option>
            <option v-for="genre in genres" :key="genre" >{{genre}}</option>
        </select>
    </div>
    <button v-if="genre !== 'none'"
        @click="clearGenre()"
      >
      clear genre
    </button>
    </div>

</template>

<script>

import { mapGetters, mapMutations } from 'vuex';
import { genres, playlist } from '../../grimmData';


export default {
  data() {
    return {
      genres,
      playlist, // Needs to be removed when refactored
      noSelect: true,
      // selectedGenre: '',
    };
  },
  computed: {
    ...mapGetters(['genre']),
    currentGenre() {
      if (this.genre !== 'none') {
        return this.genre;
      }
      return 'Filter by Genre';
    },
    selectedGenre: { // See video v-model with Vuex Udemy if don't understand
      get() {
        return this.$store.getters.genre;
      },
      set(selectedGenre) {
        this.$store.commit('updateGenre', selectedGenre);
      },
    },
  },
  methods: {
    ...mapMutations(['updateGenre', 'clearTagSelections', 'setGenrePlaylist']),
    setGenre(genre, thePlaylist) {
      this.clearTagSelections(); // Resets the selectedTags on new Genre selection
      let genrePlaylist = [];
      for (let i = 0; i < thePlaylist.length; i++) {
        if (thePlaylist[i].genre === genre) {
          genrePlaylist.push(thePlaylist[i]);
        }
      }
      this.$store.commit('setGenrePlaylist', genrePlaylist);
      this.$refs.genreSelect.blur(); // Deselects the drop down
    },
    clearGenre() {
      this.$store.commit('updateGenre', 'none');
    },
  },
  updated() {
    if (this.$store.getters.genre === 'none') {
      this.$refs.genreSelect.value = 'none'; // Shows 'All Genre' in the dropdown after Genre clear
    }
  },
};
</script>

<style scoped>
#genre {
  margin: 20px 0px 30px 0px;;
}

.grimmSelectMenu {
    width: 150px;
    height: 22px;
    overflow: hidden;
    border:#575757 1px solid;
    margin: 0 auto;
    font-family:'Quicksand','Raleway',  'Avenir', Helvetica, Arial, sans-serif;
    /* text-align: center; */
}

button {
  border: none;
  background: rgb(255, 173, 173);
  padding: 0px 6px;
  font-family:'Quicksand','Raleway',  'Avenir', Helvetica, Arial, sans-serif;
}

button:hover {
  cursor: pointer;
}

select {
    background:transparent;
    width: 150px;
    padding: 2px;
    text-align: center;
    text-align-last:center;
    font-family:'Quicksand','Raleway',  'Avenir', Helvetica, Arial, sans-serif;
    font-size:14px;
    color:rgb(0, 0, 0);
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 22px;

}

     /*the container must be positioned relative:*/

</style>
