<template>
    <div id = "playlistNavigation">
        <router-link to="/music/browse">
            <button :class="{buttonActive:playlistState==='browse'}">Browse All Music</button>
        </router-link>

        <button :class="{buttonActive:playlistState==='custom', flashIn: flashIn, flashOut: flashOut}"
            @click="navigateToCustomPlaylist(customPlaylist)"
        >Custom Playlist</button>

      </div>
</template>

<script>

import { mapGetters } from 'vuex';
import { formatToURL } from '../../mixins/formatToURL';
import { navigation } from '../../mixins/navigation';

export default {
  mixins: [formatToURL, navigation],
  computed: {
    ...mapGetters(['playlistState', 'flashIn', 'flashOut', 'customPlaylist']),
  },

};
</script>

<style scoped>
    #playlistNavigation {
        margin-top: -10px;
    }


    button {
        font-family: 'Quicksand','Raleway',  'Avenir', Helvetica, Arial, sans-serif;
        border: 1px solid ;
        /* border: none ; */
        background-color: rgba(255, 255, 255, 0);
        padding: 5px;
        margin: 2px 5px;
        /* width: 100px; */
        font-size: 1em;
        /* text-decoration: underline; */
    }

    button:hover{
        cursor: pointer;
        color: grey;
    }

    .buttonActive {
        /* background-color: rgb(73, 255, 73); */
        /* background-color: #72FF72; */
        color: rgb(18, 131, 18);

    }

    .flashIn{
        animation: flashInFrames 2s 1;
    }

    @keyframes flashInFrames {
        /* 0% {background-color: #ff8eff} */
        0% {background-color: #72FF72}
        100% {background-color: white}
    }

    .flashOut{
        animation: flashOutFrames 2s 1;
    }

    @keyframes flashOutFrames {
        0% {background-color: #fd6e6e}
        100% {background-color: white}
    }


</style>
