<template>
    <div  >
        <img
            @click ="showInfo = false"
            @mouseover="showInfo = true"
            @mouseout="showInfo = false"
            class="playlistImage" :src="work.image" alt="">
        <p :class="{optionInfoBox: true, hideInfo: !showInfo}">Go to "{{work.collection.title}}" collection</p>
    </div>
</template>

<script>
export default {
  props: {
    work: {
      type: Object,
    },
  },
  data() {
    return {
      showInfo: false,
    };
  },

};
</script>

<style scoped>
     .playlistImage {
      /* max-width: 100px; */
      max-height: 50px;
    }

     .optionInfoBox {
      position: absolute;
      background: #72ff72;
      font-size: .7em;
      padding: 5px;
      z-index: 1;
      /* width: 90%; */
      border-radius: 20px;
      left:0;
      /* margin-top: 2px; */
      animation: myAnimation .5s linear;
      /* width: 150px; */
    }
    @keyframes myAnimation {
      from {opacity: 0;}
      to {opacity: 1;}
    }

    .hideInfo {
      display: none;
    }

</style>
