<template>
    <div class="playlistOptions">
        <playlist-navigation></playlist-navigation>
        <custom-playlist-options v-if="playlistState ==='custom'"></custom-playlist-options>
        <collection-options v-if="playlistState ==='collection'"></collection-options>
    </div>
</template>

<script>
import CollectionOptions from './CollectionOptions';
import CustomPlaylistOptions from './CustomPlaylistOptions';
import PlaylistNavigation from './PlaylistNavigation';

export default {
  components: {
    CollectionOptions,
    CustomPlaylistOptions,
    PlaylistNavigation,
  },
  computed: {
    playlistState() {
      return this.$store.state.route.params.playlistStateURL;
    },
  },

};
</script>

<style scoped>
    .playlistOptions {
        margin: 10px;
    }

</style>
