<template>
  <div :class="{allPlaylist: $store.state.featuredWork}">

    <div id = "playlistKey">
      <div class="titleDisplay">
        <h5 class="infoBlockSmall">Collection</h5>
        <h5 class="infoBlock">Title</h5>
        <h5 class="infoBlock description" style="text-align:center">Description</h5>
        <h5 class="infoBlock authorsPublishing">Authors & Publishing</h5>
        <h5 class="infoBlock">Options</h5>
      </div>
    </div>

    <!-- playlist state could be browse, custom, or collection (For now)
          NOTE:As it stands, the currentPlaylist is a regular getter from getters and takes in the whole grimmplaylist. This will be replaced with queries to DynamoDB. After DynamoDB query the function will set the state of the filteredPlaylist
         -->

    <div id = "playlist" ref='playlist' v-if="currentPlaylist.length > 0">

      <div v-for="(work, index) in currentPlaylist" :key="index" :class ="{playlistWork: true,
              playlistWorkActive: work === featuredWork, titleDisplay:true}"
             >

        <div class="infoBlockSmall" @click='navigateToCollection(work.collection.title)'>
            <playlist-thumbnail :work="work"></playlist-thumbnail>
        </div>

        <!-- the Dynamic id will need to be changed to work.trackID from title-->
        <button class="infoBlock titleHover"
            @click="loadWork(work, true)" :id='work.title'
            v-scroll-to =" {el: '#featuredPlayer', duration: 1000, easing: 'linear', offset: -50, cancelable: true, x: false, y: true}">
          {{work.title}}
        </button>


        <p class="infoBlock description">
          {{work.description}}</p>

        <div class="infoBlock authorsPublishing">
          <ul v-for="author in work.author " :key='author.name'>
            <li>{{author.name}} ({{author.pro}})</li>
          </ul>
          <ul v-for="publishing in work.publishing " :key='publishing.name'>
              <li>{{publishing.name}} ({{publishing.pro}})</li>
          </ul>
        </div>

        <track-options :work='work'></track-options>


      </div> <!-- end of track-->


    </div><!-- end playlist-->

    <div v-else class="oops">
      <div v-if="playlistState === 'browse' && tagState"> <!-- positive tagState is the additive search algorithm -->
        <!-- <p>There doesn't seem to be any tracks matching this combination of selected tags.</p> -->
        <p>Oops...</p>
        <p>Either this tag or combination of tags yeilds no results. </p>
        <p>You can try deslecting tags to expand your search. Or... </p>
        <p>We can produce a new track for you!</p>
        <p>Contact us contact@grimmforestmusic.com :) </p>
        <!-- <p>...or Please deselect tags to broaden your search results</p> -->
      </div>
      <div v-else-if="playlistState === 'browse' && !tagState"> <!-- negative tagState is the additive algorithm -->
        <p>Oops, we haven't added any music with this tag and/or genre yet.... </p>
        <p>We can produce a new track for you!</p>
        <p>Contact us contact@grimmforestmusic.com :) </p>
        <!-- <p>..or you can select more tags / clear the genre filter to broaden your search and music will come :)</p> -->
      </div>
      <div v-else-if="playlistState === 'link'"><p>This link contains no tracks.</p> </div>
      <div v-else><p>The custom playlist is empty.</p></div>
    </div>
  </div>
</template>


<script>

import { mapMutations, mapGetters } from 'vuex';
// import { mapMutations } from 'vuex';
import { playlist } from '../../grimmData';
import { loadWork } from '../../mixins/loadWork';
import { formatToURL } from '../../mixins/formatToURL';
import { navigation } from '../../mixins/navigation';

import PlaylistThumbnail from '../FeaturedPlayerComponents/PlaylistThumbnail';
import TrackOptions from '../FeaturedPlayerComponents/TrackOptions';


export default {
  components: {
    TrackOptions,
    PlaylistThumbnail,
  },
  mixins: [loadWork, formatToURL, navigation],
  data() {
    return {
      playlist,
      filterList: playlist,
    };
  },
  computed: {
    ...mapGetters([
      'currentPlaylist',
      'featuredWork',
      'playlistState',
      'tagState',
      'selectedTags',
      'genre',
      'genrePlaylist',
      'customPlaylist',
      'collection']),
  },
  methods: {
    ...mapMutations([
      'setFeaturedWork',
      'setCurrentPlaylist', // not used
    ]),


  }, // End Of Methods


  updated() {
  // the query will need to change from featuredWork.title to featuredWork.trackID
  // DOENS'T WORK
  // let query = this.$store.state.featuredWork.title;
  // this.$refs.playlist.querySelector(`#${query}`).focus();
  // need to call a mutation that updates the state with the parameters from the URL
  },

};
</script>


<style scoped>

    p, h4, h5, ul {
        padding: 0px;
        margin: 0px;
        font-size: .8em;
    }

    .allPlaylist {
      margin-top: -55px;
    }


    #playlistKey {
      /* margin-bottom: -20px; */
      /* margin-top: 20px; */
      text-decoration: underline;
      margin-right: 40px;

    }

    #playlist {
        margin: 0px 30px 20px auto;
        height: 63vh;
        overflow-y: scroll;
        padding: 0px 0px 0px 0px;
        /* border: 1px solid #c9c9c9; */
    }

    .playlistWork {
      background-color: rgb(233, 233, 233);
      border-bottom: 1px solid white;
    }

    .playlistWorkActive {
        background:#bdffbd;
    }

    button:focus {outline:0;}


    .titleDisplay {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .infoBlock {
      width: 180px;
      padding:2px;
    }
    .infoBlockSmall {
      width: 80px;
      padding:2px 10px;
      padding-left: 4px;
      position: relative;
    }

    .infoBlockSmall:hover {
      cursor: pointer;
    }

    /* .authorsPublishing {
      height: 70px;
       overflow-y: scroll;
    } */


    ul{
      list-style-type: none;
      text-align: left;
    }


    .description {
      width: 250px;
      text-align: left;
    }

    .titleHover {
      border: none;
      background: transparent;
      font-family: 'Quicksand','Raleway',  'Avenir', Helvetica, Arial, sans-serif;
      font-size: 14px;
    }


    .titleHover:hover {
      cursor: pointer;
      color: green;
    }


    .oops {
     margin: 40px; height: 380px; width: 871px;
    }

    @media screen and (max-height: 900px){
      #playlist {
        height: 390px;
      }
    }

  @media screen and (max-width: 1450px) {
      .allPlaylist {
        margin-top: 0px;
      }
  }
    @media screen and (max-width: 980px) {
    .allPlaylist {
      margin-top: 0px;
    }

      #playlist {
        min-width: 100vw;
         margin: 0px 0px 20px 0px;
      }

      #playlistKey {
        display: none;
      }

      .infoBlock {
        width: 100%;
      }

      .titleDisplay {
        flex-flow: column;
      }

      .description {
        text-align: center;
      }
      ul {
        text-align: center;
      }

      .oops {
        width: 300px;
      }

    }

</style>
