<template>
      <!-- setCurrentTime method is where we can set all the wavesurfer event listener -->
    <div id = "player" @click='setCurrentTime' @keyup.space = 'play' class="animated slideInDown">
        <!-- the dynamic class in the waveform div is there
        so that the Player component's updated() lifecycle hook will
        be trigger on a change to the state. This is not ideal but acceptable.
        Refactoring so that the wavesurfer reacts to changes in the state in computed
        should happen but for somereason at this time, won't, maybe not possible?  -->

      <div id="waveform"  :class='featuredWork.title'></div>
      <div class="playerControlInfo">
        <div id="controls">
             <font-awesome-icon icon="stop" class="control" @click = 'stop'/>
             <font-awesome-icon icon="play" class="control" v-if="!showPlayPause"  @click ='play' />
             <font-awesome-icon icon="pause" class="control" v-else  @click ='play'  />
             <font-awesome-icon icon="step-backward" class="control"  @click='previousTrack(currentPlaylist, featuredWork)' />
             <font-awesome-icon icon="step-forward" class="control"  @click='nextTrack(currentPlaylist, featuredWork)' />
             <font-awesome-icon icon="volume-off" class="control"  @click='mute' />
            <input type="range" min="0" max="100" ref='volumeSlider' v-model="volume" @change="volumeAdjust" class="slider">
        </div>
        <p style="padding:10px 10px 0px 10px">{{currentTime}} /{{trackLength}}</p>
      </div>
    </div>
</template>

<script>


import { mapMutations, mapGetters } from 'vuex';
import { formatToURL } from '../../mixins/formatToURL';
import { loadWork } from '../../mixins/loadWork';

export default {
  mixins: [formatToURL, loadWork],
  data() {
    return {
      trackLength: '00:00',
      currentTime: '',
      localPlayPause: false, // false = pause
      // volume: 0, // Leaving this here in case I don't want to store the volume state on refresh, Need to set state on destroy (see destroyed())
      updatedTrack: '', // Used to keep track of changing tracks for loading purposes in updated() hook
    };
  },
  computed: {
    ...mapGetters([
      'featuredWork',
      'playOrPause',
      'showPlayPause',
      'autoPlay',
      'currentPlaylist',
      'stateVolume',
    ]),
    waveVolume() {
      return this.volume * 0.01;
    },
    volume: { // This stores the volume even after leaving the page
      get() {
        return this.$store.getters.stateVolume;
      },
      set(volume) {
        this.$store.commit('setVolume', volume);
      },
    },
  },
  watch: {
    playOrPause() { // this is watching playOrPause from the state which is mapped in via mapGetters. it looks confusing cause ES6 syntax... should be ... playOrPause: function(){} ... makes more sense if you see it's actually a property
      if (this.playOrPause) {
        this.wavesurfer.play();
      } else {
        this.wavesurfer.pause();
      }
    },
  },
  methods: {
    // Sets the state ======================================
    ...mapMutations([
      'setFeaturedWork',
      'doPlayPause',
      'changeShowPlayPause',
      'setPlayPause',
      'setAutoPlay',
      'setVolume',
    ]),
    // PLAYBACK AND NAV FUNCTIONS ==============================================
    changeTrack() {
      this.wavesurfer.load('../../assets/music/AGoodThought.mp3');
    },

    play() {
      // this.doPlayPause();
      this.changeShowPlayPause();
      this.wavesurfer.playPause();
    },
    keyBoardControls(event) {
      // evt.code.preventDefault();
      switch (event.code) {
        case 'Space':
          this.play();
          break;
        case 'ArrowRight':
          this.nextTrack(this.currentPlaylist, this.featuredWork);
          break;
        case 'ArrowLeft':
          this.previousTrack(this.currentPlaylist, this.featuredWork);
          break;
        case 'ArrowUp':
          if (this.volume <= 95) {
            this.volume += 5;
          }
          this.volumeAdjust();
          break;
        case 'ArrowDown':
          if (this.volume >= 5) {
            this.volume -= 5;
          }
          this.volumeAdjust();
          break;
        default:
      }
    },
    stop() {
      this.wavesurfer.stop();
      this.setPlayPause(false);
      this.currentTime = '00:00';
    },
    previousTrack(currentPlaylist, featuredTrack) { // Pre and next could be reduced to one function
      let trackIndex = currentPlaylist.indexOf(featuredTrack);
      if (trackIndex > 0) {
        trackIndex -= 1;
      }
      this.setAutoPlay(true);
      this.loadWork(currentPlaylist[trackIndex]);
      // let query = this.$store.state.featuredWork.title;
      // document.querySelector(`#${query}`).focus();
    },
    nextTrack(currentPlaylist, featuredTrack) {
      let trackIndex = currentPlaylist.indexOf(featuredTrack);
      if (trackIndex < currentPlaylist.length - 1) {
        trackIndex += 1;
      }
      this.setAutoPlay(true);
      this.loadWork(currentPlaylist[trackIndex]);
    },
    formatTime(input) {
      if (input) {
        let minutes = Math.floor(input / 60);
        let seconds = Math.floor(input) % 60;


        return `${(minutes < 10 ? '0' : '') + minutes}:${(seconds < 10 ? '0' : '') + seconds}`;
      }
      return '00:00';
    },
    retrieveCurrentTime() {
      this.currentTime = this.formatTime(this.wavesurfer.getCurrentTime());
    },
    setCurrentTime() {
      this.wavesurfer.on('audioprocess', () => {
        this.retrieveCurrentTime();
      });
      this.wavesurfer.on('finish', () => {
        this.setPlayPause(false);
      });
      setTimeout(() => {
        this.retrieveCurrentTime();
      }, 50);
    },
    volumeAdjust() {
      this.wavesurfer.setVolume(this.waveVolume);
      this.$refs.volumeSlider.blur();
    },
    setDuration() {
      this.trackLength = this.formatTime(this.wavesurfer.getDuration());
    },
    mute() {
      this.volume = 0;
      this.volumeAdjust();
    },
    disableDefaultSpace() {

    },
  },
  // END OF METHODS


  created() {
    this.volume = this.stateVolume;
    document.addEventListener('keydown', (event) => {
      if (this.featuredWork && this.$store.state.route.params.playlistStateURL) {
        if (event.code === 'Space' || event.code === 'ArrowDown') {
          event.preventDefault();
        }
      }
    });
    document.addEventListener('keydown', this.keyBoardControls);
  },
  destroyed() {
    document.removeEventListener('keydown', this.keyBoardControls);
  },

  mounted() {
    // State for tracks is set buy the playList state and the URL
    // NOTE: NEED TO ADD, If the PLaylist state is MUSIC then we need to
    // load the track via the URL so the back buttons work in the browser
    this.$nextTick(() => {
      // eslint-disable-next-line
      this.wavesurfer = WaveSurfer.create({
        container: '#waveform',
        waveColor: ' #13e601 ',
        progressColor: '#3dbd3d',
        height: 110,
        responsive: true,
        hideScrollbar: true,
        cursorColor: '#3dbd3d',
        cursorWidth: 0,
        backend: 'MediaElement',
        minPxPerSec: 1000,
        normalize: true,

      });
      this.wavesurfer.load(this.featuredWork.audio);
      this.volumeAdjust();

      this.wavesurfer.on('ready', () => {
        this.setCurrentTime();
        setTimeout(() => { // This makes the initial load of the play button be play arrow and not pause bars
          this.setPlayPause(this.wavesurfer.isPlaying());
          this.setDuration();
        }, 100);
      });
    });
  },
  updated() {
    // The if below is a guard because the updated hook keeps getting called when the track is playing. Or otherwise shit is updated
    if (this.updatedTrack !== this.featuredWork.audio) {
      if (this.wavesurfer) {
        this.wavesurfer.load(this.featuredWork.audio);
        this.updatedTrack = this.featuredWork.audio;
        this.wavesurfer.on('ready', () => {
          this.setCurrentTime();
          this.trackLength = this.formatTime(this.wavesurfer.getDuration());
          if (this.autoPlay) {
            this.wavesurfer.play();
            this.setAutoPlay(false);
          }
        });
      }
    }
  },


};
</script>


<style scoped>

    #player {
        max-width: 97%;
        margin: auto;
        /* margin-bottom: 20px; */
        padding: 5px;
    }

    i {
        padding: 0 5px;
    }

    i:hover {
        cursor: pointer;
    }
    .control {
        padding: 0 5px;
    }

    .control:hover {
        cursor: pointer;
    }

    .playerControlInfo {
      display: flex;
      align-items: center;
      width: 530px;
      flex-flow: column;
    }

     @media screen and (max-width: 1450px){
 .playerControlInfo {

      width: 100%;

    }
     }

  #controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }

  .slider {
    -webkit-appearance: none;
    width: 75px;
    height: 5px;
    background: rgb(202, 202, 202);
    /* border-radius: 5px; */
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* appearance: none; */
    width: 10px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #4CAF50;
    cursor: pointer;
}

</style>

