<template>
    <div>
        <the-switch></the-switch>
        <div class ="tagContainer" >
            <button
                :class="{
                    tag: true,
                    // Two classes to emphasize tags

                    tagSelected: isTagColored(selectedTags, tag),
                    tagFeatured: isTagColored(featuredTags,tag),
                }"
                v-for="tag in tags"
                :key="tag"
                @click="selectTag(tag)"
                >
                    {{tag}}
            </button>

        </div>
          <button id="clearTags" :class="{tag:true}"
                @click="clearTagSelections"
            >Clear Selections</button>
    </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex';
import { tags } from '../../grimmData';
import Switch from '../Switch';


export default {
  components: {
    theSwitch: Switch,
  },
  data() {
    return {
      tags,
      switchLabel: { left: 'Additive', right: 'Subtractive' },
    };
  },
  computed: {
    ...mapGetters(['selectedTags', 'tagState', 'featuredTags']),
  },
  methods: {
    ...mapMutations(['selectTag', 'clearTagSelections']),

    isTagColored(tagArray, tag) {
      const lowerCaseTags = tagArray.map(x => x.toLowerCase());
      return lowerCaseTags.includes(tag.toLowerCase());
    },
  },


};
</script>

<style scoped>

    .tagContainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        /* background: rgb(218, 218, 218); */
        width: 450px;
        margin: 10px auto;
        padding: 10px;
        max-width: 100%;
        max-height: 400px;
        /* overflow-y: scroll; */
        /* border: 1px solid #C9C9C9 */

    }

    .tag {
        padding: 5px;
        margin: 5px;
        border: none;
        font-size: 15px;
        background: #72ff72;
        font-family: 'Quicksand','Raleway',  'Avenir', Helvetica, Arial, sans-serif;
    }

    .tag:hover {
        /* background: #3dbd3d;; */
        cursor: pointer;
    }

    .tagFeatured {
        background:rgb(192, 255, 192) ;
    }

    .tagSelected {
        /* background: rgb(255, 255, 255); */
        background: rgb(70, 190, 70);

    }

    #clearTags {
        background-color: rgb(218, 218, 218);
        margin-top: -5px;
        /* border: 1px solid; */
    }

    #clearTags:hover{
         background: rgb(163, 163, 163);
    }

      @media screen and (max-height: 900px){
      .tagContainer {
        height: 190px;
        overflow-y: scroll;
      }
    }

    @media screen and (max-width: 1450px){
       .tagContainer {
            /* background-color: blue; */
            width: 80%;
        }
    }
    @media screen and (max-width: 800px){
        .tagContainer {
            /* background-color: blue; */
            width: 90%;
        }

    }

</style>
