<template>
    <div class="infoBlock options">
        <!-- Playlist Option -->
        <!-- <p>{{work.title}}</p> -->
         <font-awesome-icon icon="play" class="option"
          @mouseover="showOptionInfo('Play this track')"
          @mouseout="hideOptionInfo()"
          @click="playFromOption(work)"/>


        <a  :href='work.audio' :download='downloadLink(work.title)'
            @mouseover="showOptionInfo('Download')"
            @mouseout="hideOptionInfo()"
            class="showDownload"><font-awesome-icon icon="download" class="option" /></a>


          <i v-clipboard:copy="copyTrackLink(work.title)"
            @click="showOptionMessage('Link was copied to clipboard')"
            @mouseover="showOptionInfo('Copy link to this work')"
            @mouseout="hideOptionInfo()">
           <font-awesome-icon icon="copy" class="option"/></i>


         <font-awesome-icon  v-if="!inCustomPlaylist" icon="plus" class="option"
            @click='addTrackToCustomPlaylist(work)'
            @mouseover="showOptionInfo('Add to the Custom Playlist')"
            @mouseout="hideOptionInfo()"/>


        <font-awesome-icon  v-if="inCustomPlaylist" icon="minus" class="option"
               @click='removeTrackFromCustomPlaylist(work.title)'
              @mouseover="showOptionInfo('Remove from the Custom Playlist')"
              @mouseout="hideOptionInfo()"/>

        <font-awesome-icon  v-if="work.collection" icon="compact-disc" class="option"
              @click="navigateToCollection(work.collection.title)"
              @mouseover="infoDisplay = 'collection'"
              @mouseout="infoDisplay = ''"/>

        <font-awesome-icon icon="shopping-cart" class="option"
               @mouseover="showOptionInfo('License this track')"
               @mouseout="hideOptionInfo()" />


        <!-- Pop Up Messages -->

        <p :class="{optionInfoBox: true, hideInfo: infoDisplay !== 'collection' , animated: true, fadeIn: true}">Go to '{{work.collection.title}}' Collection</p>

        <p :class="{optionInfoBox: true, hideInfo: !optionInfo,}">
            {{optionInfo}}</p>
        <p :class="{optionInfoBox: true, hideInfo: !optionMessage, optionMessage: true}">
            {{optionMessage}}</p>

    </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex';
import { formatToURL } from '../../mixins/formatToURL';
import { navigation } from '../../mixins/navigation';
import { loadWork } from '../../mixins/loadWork';

export default {
  props: {
    work: {
      type: Object,
    },
    theCustomPlaylist: {
      type: Array,
    },
  },
  mixins: [formatToURL, loadWork, navigation],
  data() {
    return {
      infoDisplay: '',
      optionInfo: '',
      optionMessage: '',
      plusOrMinus: true,
      // inCustomPlaylist: false,
    };
  },
  computed: {
    ...mapGetters([
      'featuredWork',
      'playOrPause',
      'customPlaylist',
    ]),
    inCustomPlaylist() { // Doesn't work + or - for custom playlist in v-if - for some reason this was a bitch
      let includes = 0;
      this.customPlaylist.forEach((work) => {
        if (work.title === this.work.title) {
          includes += 1;
        }
      });
      return includes > 0;
    },
  },
  methods: {
    ...mapMutations([
      'addToCustomPlaylist',
      'removeFromCustomPlaylist',
      'flashIn',
      'flashOut',
      'setPlayPause',
      'setAutoPlay']),
    playFromOption(work) {
      if (this.featuredWork.title === work.title) {
        this.setPlayPause(true);
      } else {
        this.setAutoPlay(true);
        this.loadWork(work);
      }
      this.optionInfo = ''; // Gets rid of the info bubble
    },
    addTrackToCustomPlaylist(work) {
      this.flashIn(true);
      setTimeout(() => {
        this.flashIn(false);
      }, 1000);
      this.optionInfo = '';
      this.addToCustomPlaylist({ work });
      if (this.$store.state.route.params.playlistStateURL === 'custom') { // Resets the URL
        this.navigateToCustomPlaylist(this.customPlaylist);
      }
    },
    removeTrackFromCustomPlaylist(workTitle) {
      let removeIndex = -1;
      for (let i = 0; i < this.customPlaylist.length; i++) {
        if (this.customPlaylist[i].title === workTitle) {
          removeIndex = i;
        }
      }
      this.flashOut(true);
      setTimeout(() => {
        this.flashOut(false);
      }, 1000);
      this.optionInfo = '';
      // this.showOptionMessage('Track was removed from the Custom Playlist');
      this.removeFromCustomPlaylist(removeIndex);
      if (this.$store.state.route.params.playlistStateURL === 'custom') { // Resets the URL
        this.navigateToCustomPlaylist(this.customPlaylist);
      }
    },
    // Formats Vue Data so DOM recognizes MP3 file
    downloadLink(workTitle) {
      return `${workTitle}.mp3`;
    },
    copyTrackLink(trackID) {
      return `${this.$store.getters.siteDomain}music/browse/${this.titleToURL(trackID)}`;
    },
    showOptionInfo(info) {
      this.optionInfo = info;
    },
    hideOptionInfo() {
      this.optionInfo = '';
      this.optionMessage = '';
    },
    showOptionMessage(message) {
      this.optionMessage = '';
      this.optionMessage = message;
    },
  },

};
</script>

<style scoped>
    .infoBlock {
        width: 180px;
        padding:2px;

        }

        button {
          border: none;
          background: transparent;
        }

    i {color: rgb(20, 20, 20);}

    i:hover {
        color: green;
        cursor: pointer;
    }

    .option {
      color: rgb(20, 20, 20);
    }
    .option:hover{
      color: green;
        cursor: pointer;
    }

    .options {position: relative;}

    .options * {padding: 2px;}

    .optionInfoBox {
        position: absolute;
        background: #72ff72;
        font-size: .7em;
        padding: 5px;
        z-index: 1;
        width: 90%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-radius: 20px;
        margin-top: 2px;
        /* animation: myAnimation .8s linear; */
        animation: myAnimation .7s cubic-bezier(1, 0, .3, .1);
    }

    .optionMessage {
        /* background-color: #ff8eff; */
        background-color: #5bff84;
        animation: myAnimation 0.1s cubic-bezier(1, 0, 0.5, 1);
    }

    .hideInfo {
        display: none;
    }

    @keyframes myAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
  }


    @media screen and (max-width: 850px) {
        .infoBlock {
        width: 100%;
        }
    }


</style>
