<template>
    <div class="welcome" onclick="snowStorm.stop()">

        <!-- <div class="videoWrapper">
             <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/lIrBQim8dzk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div> -->
        <div>
            <!-- <h1>Welcome</h1>
            <p>to the</p>

            <img src="../../assets/GrimmLogoTrees/GFM_Words_1391x128.png" alt="">
            <h3>Catalog</h3>
            <img src="../../assets/GrimmLogoTrees/GFM_Tree_600x1000.png" alt=""> -->
            <!-- <img src="../../assets/GrimmLogoTrees/GFM_BigWelcomeCatalog_1500x300.png" alt=""> -->

            <!-- <img src="../../assets/GrimmLogoTrees/GFM_CatalogWords_1500x94.png" alt=""> -->

            <img src="../../assets/GrimmLogoTrees/GFM_WelcomeCatalog2_1500x300.png" alt="">
        </div>
        <!-- <div class="welcomeVideo">
            <iframe width="300" height="200" src="https://www.youtube-nocookie.com/embed/lIrBQim8dzk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div> -->

    </div>
</template>

<script>
export default {

};
</script>

<style scoped>
    .welcome{
        /* background: rgb(255, 255, 255); */
        padding-top: 20px;
        /* max-width: 900px; */
        margin:0 auto;
        padding-bottom: 0px;
    }

    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 15px;
        height: 0;
    }
    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    img {
        max-width: 90%;
        /* max-height: 200px; */
    }
    h1 {
        font-size:4em;
        font-weight: normal;
    }

    h3 {
        font-size: 2em;
    }

    .welcomeVideo {
        display: flex;
        justify-content: center;
        margin: auto;
        max-width: 90%;
        margin-top: 20px;
    }

    @media screen and (max-width: 700px){
        h1{
            font-size: 4em;
        }

        img {
            max-width: 100%;
        }

        .welcome{
        /* margin-bottom: 30px; */
        padding-top: 20px;
    }

    }

</style>
