<template>
    <div id="aboutContent" class="animated fadeIn">
        <div id = "aboutWords">
            <!-- <h2>About Us</h2> -->
             <!-- <p>
               In the Black Forest of Germany, where Hansel and Gretel torched that evil witch,
             we make music. Grimm Forest is a full-service music production house and catalogue of searchable songs, tracks and cues.
            </p> -->
             <p>
               Grimm Forest Music is a custom music production house and boutique catalogue of searchable songs, tracks and cues
               by a collection of independent composers and artists.
            </p>
            <!-- <p>We are industry professionals who make music for for films, television and advertising.</p> -->

        </div>

    </div>
</template>

<script>
export default {

};
</script>

<style scoped>
    #aboutContent {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        min-height: 35vh;
        background: #EEEEEE;
        font-size: 18px;
        /* background: rgb(238, 237, 237); */
    }

    p {
        padding: 4px;
    }

    h2 {
        color: green;
        font-size: 2em;
    }

    #aboutWords {
        max-width: 600px;

    }

    #studioPics {
        max-width: 600px;
    }

    img {
        max-width: 100px;
        color: black
    }

</style>
