<template>
    <div class="contactSection">
        <h1>Contact Us</h1>
        <div class="container">
        <form action="/action_page.php">
            <label for="fname">Name</label>
            <input type="text" id="name" name="firstname" placeholder="Name">

            <label for="lname">Email</label>
            <input type="email" id="lname" name="lastname" placeholder="Email">

            <!-- <label for="country">Country</label>
            <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
            </select> -->

            <label for="subject">Message</label>
            <textarea id="subject" name="subject" placeholder="Message...this doesn't work yet" style="height:200px"></textarea>

            <input type="submit" value="Submit">
        </form>
        </div>
    </div>
</template>

<script>
export default {

};
</script>

<style scoped>

/* #contactForm {
    display: flex;
    flex-flow: column;
    max-width: 70%;
    margin: auto;
}

input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    overflow-y: scroll;
    margin: 15px;
    font-family: 'Quicksand','Raleway',  'Avenir', Helvetica, Arial, sans-serif;
    font-size: 16px;
    width: 200px;
}

textarea{

    margin: 15px;
    width:400px
} */

.contactSection {
    width: 800px;
    max-width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -20px;
}

h1{
    margin-bottom: 10px;
    font-family: 'Quicksand','Raleway',  'Avenir', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

input[type=text], input[type=email], select, textarea, email {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Quicksand','Raleway',  'Avenir', Helvetica, Arial, sans-serif;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    /* border-radius: 5px; */
    background-color: #f2f2f2;
    padding: 20px;
}


</style>
