<template>
    <div id = "featuredPlayer">
        <!-- the playlistState and tracks are passed in from the router link, Register as props here and then passed down further -->
         <div v-if="featuredWork">
            <displayWindow></displayWindow>
            <player></player>
         </div>
         <div v-else>
             <welcome></welcome>
         </div>


        <div id="tagplaylist">
            <div class="filterOptions">
              <playlist-options></playlist-options>
              <filters v-if="playlistState === 'browse'" ></filters>
            </div>
            <div class="thePlaylist">
             <playlist></playlist>
            </div>
        </div>


    </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex';
import DisplayWindow from './FeaturedPlayerComponents/DisplayWindow';
import Player from './FeaturedPlayerComponents/Player';
import Playlist from './FeaturedPlayerComponents/Playlist';
import Filters from './FeaturedPlayerComponents/Filters';
import Welcome from './FeaturedPlayerComponents/Welcome';
import PlaylistOptions from './FeaturedPlayerComponents/PlaylistOption';
import { formatToURL } from '../mixins/formatToURL';

export default {

  components: {
    DisplayWindow,
    Player,
    Playlist,
    Welcome,
    PlaylistOptions,
    Filters,
  },
  mixins: [formatToURL],
  props: {
    playlistStateURL: {
      type: String,
    },
    tracksURL: {
      type: String,
    },
  },
  data() {
    return {
      hello: 'Enter',
    };
  },
  computed: {
    ...mapGetters([
      'featuredWork',
      'playlistState',
      'customPlaylist',
    ]),
  },
  methods: {
    ...mapMutations([
      'setFeaturedWork',
      'setStateViaUrl',
      'setCustomPlaylistState',
    ]),
  },
  created() {
    // This is needed for cold loads...ie visiting links that have state
    // RESET THE playPause state to false here as well
    this.$store.commit('setStateViaURL');
  },

  beforeRouteEnter(to, from, next) { // Sets the custom playlist when pressing the brownser's back button for Undo Redo, probably will be deprecated into actual UNDO/REDO buttons
    next((vm) => {
      if (to.params.playlistStateURL === 'custom' && to.params.tracksURL) {
        vm.setCustomPlaylistState(to.params.tracksURL);
      }
    });
    next();
  },
  beforeRouteUpdate(to, from, next) { // Sets the custom playlist when pressing the brownser's back button for Undo Redo
    if (to.params.playlistStateURL === 'custom' && to.params.tracksURL) {
      this.setCustomPlaylistState(to.params.tracksURL);
    }
    next();
  },
};
</script>

<style scoped>

#featuredPlayer {
    background: rgb(241, 241, 241);
    max-width: 1500px;
    /* min-height: 99vh; */
    position: relative;
    margin: auto;
    margin-top: 7px;
}

button {
    position: absolute;
    /* top: 10px; */
    right: 0px;
    margin: 15px;
    border: none;
    background: none;
    /* padding: 10px; */

}

button:hover {
    cursor: pointer;
}

img {
    max-height: 200px;
}

.filterOptions {
  /* display: flex;
  flex-flow: column;
  align-items: center; */
  margin:15px auto;

}


#tagplaylist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    /* height: 60vh; */
}

@media screen and (max-width: 1580px){
        #featuredPlayer{
          margin-top: 0px;
        }
    }

@media screen and (max-width: 700px){
        /* #featuredPlayer{
          margin-top: 40px;
        } */
    }

</style>
