<template>
    <div id ="footerContent">
        <div class="footerTop">
            <div>
                <h3>Menu</h3>
                <the-menu position='footer'></the-menu>
            </div>
            <div>
                <h3>Contact</h3>
                <p>Need new music? Want to license a track? Feel like saying hi? We'd love to hear from you!</p>
                <ul>
                    <li><p><span style="font-weight:bold">Email:</span> contact@grimmforestmusic.com</p></li>
                    <li><p><span style="font-weight:bold">Phone:</span> +49 0151 1223 1277</p></li>
                    <li><p><span style="font-weight:bold">Visit:</span>  Tennenbacher Str 3, 79106 Freiburg</p></li>
                </ul>
            </div>
            <div class="copyright"><img id="copyTree" src="../assets/GrimmLogoTrees/GFM_WhiteTree_296x468.png" alt=""><p>© 2018 Grimm Forest Music GMBH</p></div>
        </div>
        <div class="footerBottom">

        </div>
        <!--  -->
    </div>
</template>

<script>

import Menu from './Menu';

export default {
  components: {
    theMenu: Menu,
  },

};
</script>

<style scoped>
    #footerContent {
        margin-top: 75px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        min-height: 35vh;
        background: rgb(20, 20, 20);
        color: white;
        /* font-size: 18px; */
    }

    .footerTop  {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /* align-items: center; */
        width: 100%;
        text-align: left;
    }

    .footerTop > * {
        margin-top: 80px;
    }

    .footerTop * {
        padding-top: 2px;
    }

    .footerBottom {
        display: flex;
        justify-content: left;
        width: 300px;
        margin-bottom: 30px;

    }

     .footerBottom p{
         font-size: 12px;
     }

    h3 {
        /* text-emphasis: none; */
        text-decoration: underline;
        font-size: 17px;
    }

    p {
        max-width: 300px;
        text-align: left;
        font-size: 15px;
    }

    ul{
      list-style-type: none;
      text-align: left;
    }

    li{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 5px;
    }

    img {
        max-width: 100px;

    }

    .copyright {
        display: flex;
        flex-flow: column;

        align-items: center;

}

    .copyright p {
        font-size: 13px;
        margin-top: 5px;
    }

    @media screen and (max-width: 900px) {

    .footerTop  {
        display: block;
        /* flex-wrap: wrap; */
        justify-content: flex-start;
        width: 90%;
        text-align: left;
    }

    .copyright {
        align-items: flex-start;
    }

    #copyTree {
        margin-left:50px;
    }

    /* .footerTop > * {
     margin: 20px;
    } */

    }
</style>
