<template>
    <div id="top">
        <img id = "wordLogo" src="../assets/GrimmLogoTrees/GFM_Words_1391x128_GreenColorClose.png" alt="Grimm Forest Music Logo">
        <tree></tree>
    </div>
</template>

<script>
import Menu from './Menu';
import Tree from './Tree';


export default {
  name: 'App',
  data() {
    return {

    };
  },
  components: {
    menubar: Menu,
    tree: Tree,
  },
};
</script>

<style scoped>

    #wordLogo {
        margin-top: 27px;
        max-width: 80%;
        max-height: 100px;
        margin-bottom: 0px;
    }

     @media screen and (max-width: 700px){
        #wordLogo{
          margin-top: 40px;

        }
    }

</style>
