<template>
  <div>
    <div class="section" id="theHeader">
      <theHeader></theHeader>
    </div>

    <div id="about" onclick="snowStorm.stop()">
      <About></About>
    </div>

    <div id="works" onclick="snowStorm.stop()">
      <works></works>
    </div>

  </div>
</template>

<script>


import Works from './Works';
import theHeader from './Header';
import About from './About';

export default {
  name: 'App',
  data() {
    return {

    };
  },

  components: {
    works: Works,
    theHeader,
    About,
  },

};


</script>

<style>

* {
  margin: 0px;
  padding: 0px;
}


#app {
  font-family: 'Quicksand','Raleway',  'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* color: #2c3e50; */
  color: black;
  /* margin-top: 60px; */
}


a {
  text-decoration: none;
  /* color: #2c3e50; */
}

.section {
  min-height: 100vh;
  width: 100%;
}

.sectionFlex {
      display: flex;
      justify-content: center;
      align-items: center;
}


</style>
