<template>
    <div>
        <button class='menuButton' v-if="!menuShow && position === 'top'" @click='menuShow = !menuShow'>
             <font-awesome-icon icon="bars" />
        </button>

        <div v-else :class ="{menuBarTop: position === 'top', menuFooter: position === 'footer', }">
            <div :class ="{menuLinksTop: position === 'top', menuLinksFooter: position === 'footer', animated: true, slideInDown: true }">
                <button v-if="position ==='top'"  @click='menuShow = false' id="outButton">
                    <font-awesome-icon icon="times" />
                </button>
                <img  v-if="position==='top'" src="../assets/GrimmLogoTrees/GFM_Words_1391x128.png" alt="">

                <button
                    @click='navigate(navigateHome)'
                    onclick="snowStorm.resume()"
                    v-scroll-to =" {el: '#top', duration: 1200, easing: 'linear', offset: -150, cancelable: true,x: false, y: true}"
                >Home</button>
                <button
                     @click='navigate(navigateToAbout)'
                     onclick="snowStorm.stop()"
                     v-scroll-to =" {el: '#about', duration: 1200, easing: 'linear', offset: -150, cancelable: true,x: false, y: true}"
                     >About</button>


                  <button href="#" onclick="snowStorm.stop()" @click='navigate(navigateToBrowse)'>Catalog</button>
                   <button href="#"  onclick="snowStorm.stop()" @click='navigate(navigateToPortfolio)'>Portfolio</button>


                <button href="" onclick="snowStorm.stop()" @click='navigate(navigateToContact)'>Contact</button>
                <button href="" v-if="position==='footer'">Privacy Policy</button>
                <img v-if="position==='top'" src="../assets/GrimmLogoTrees/GFM_Tree_600x1000.png" alt="">
            </div>
        </div>
    </div>
</template>

<script>
import { navigation } from '../mixins/navigation';

export default {
  props: {
    position: String,
  },
  mixins: [navigation],
  data() {
    return {
      menuShow: false,
    };
  },
  methods: {
    navigate(to) {
      this.menuShow = false;
      to(); // To is from the imported navigation function. We are passing in a function here.
    },
  },
};
</script>

<style scoped>


    /* .menuBarTop {
        margin-top: 20px;
    } */

    .menuLinksTop {
        /* margin-bottom: 10px; */
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0px;
        top: 0px;
        min-height: 100vh;
        min-width: 100vw;
        font-size: 3em;
        font-weight: bold;
        background-color: rgba(114, 255, 114, 0.975);
        z-index: 10;

    }

    img {
        max-height: 100px;
        max-width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    ul {
        list-style-type: none;

    }

    p {
        font-weight: normal;
    }

    li {
        margin-left: 10vw;
    }


    .menuLinksTop button {
        padding: 5px 20px 5px 20px;
        color: rgb(37, 37, 37);
        background: none;
        border: none;
        font-size: 1em;
        font-family: 'Quicksand','Raleway',  'Avenir', Helvetica, Arial, sans-serif;
    }

    .menuLinksTop button:hover{
        color: rgb(255, 255, 255);
        cursor: pointer;
    }

    .menuLinksFooter{
        display: flex;
        flex-flow: column;
    }

    .menuLinksFooter button {
        color: rgb(255, 255, 255);
        padding-top: 2px;
        text-align: left;
        background:none;
        border: none;
        font-size: 1em;

    }

    .menuLinksFooter button:hover{
        /* color: rgb(41, 231, 41); */
        color: #72FF72;
        cursor: pointer;
    }

    /* button {
        font-size: .85em;
    } */

     .menuButton {
        position: fixed;
        /* top: 20px;
        left:20px; */
        /* border: 1px solid black; */
        border: none;
        border-radius: 50%;
        top: 10px;
        left:10px;
        z-index: 1000;
        background: rgba(114, 255, 114, 0.801);
        text-align: left;
        font-size: 12px;
        padding: 10px;
        /* margin-left: 20px; */
    }

    .menuButton:hover{
        cursor: pointer;
        background: rgb(114, 255, 114);

    }

    #outButton {
        position: fixed;
        /* top: 20px;
        left:20px; */
        top: 10px;
        left:10px;
        z-index: 10;
        background: rgb(114, 255, 114);
        text-align: left;
        padding: 10px;
        font-size: 14px;
        /* border: 1px solid black; */
        padding:10px;
        border-radius: 50%;
    }

    @media screen and (max-width: 700px){
        .menuButton{
            left: 2px;
            top: 2px;
            font-size: 8px;
            /* width: 100%; */
            /* border: none; */
        }

        .menuLinksTop{

            left: 0px;
            top: 0px;
            min-height: 100vh;
            min-width: 100vw;

            justify-content: center;
            font-size: 2em;
            font-weight: bold;
        }


    }

</style>
