<template>
    <div class="portfolioSection">
        <!-- <portfolio-masonry ></portfolio-masonry> -->

        <portfolio-work v-if='currentPortfolioWork'></portfolio-work>
        <portfolio-masonry v-else></portfolio-masonry>
    </div>
</template>

<script>
import { portfolio } from '../grimmData';
import PortfolioWork from './PortfolioComponents/PortfolioWork';
import PortfolioMasonry from './PortfolioComponents/PortfolioMasonry';
import { formatToURL } from '../mixins/formatToURL';

export default {
  components: {
    PortfolioWork,
    PortfolioMasonry,
  },
  mixins: [formatToURL],
  props: {
    portfolioWork: {
      type: String,
    },
  },
  data() {
    return {
      portfolio,
    };
  },
  computed: {
    currentPortfolioWork() {
      return this.$store.state.route.params.portfolioWork;
    },
  },
  created() {
    portfolio.forEach((work) => {
      if (this.titleToURL(work.title) === this.portfolioWork) {
        this.$store.state.portfolioWork = work;
      }
    });
  },
};

</script>

<style scoped>
    /* .portfolioSection{
        padding-top: 30px;
    } */


</style>
