<template>
    <div>
        <div id="on-switch">
            <p :class="[{'text':!tagState}]">Additive</p>
            <label class="switch">
            <input type="checkbox" v-model="tagState">
            <span class="slider round"></span>
            </label>
            <p :class="[{'text':tagState}]">Subtractive</p>
        </div>
    </div>
</template>

<script>
export default {
  computed: {
    tagState: { // See video v-model with Vuex Udemy if don't understand
      get() {
        return this.$store.getters.tagState;
      },
      set(tagState) {
        this.$store.commit('updateTagState', tagState);
      },
    },
  },

};
</script>

<style scoped>
#on-switch {
  display: flex;
  justify-content: center;
  margin: 0px 0px 0px 0px;
}

#on-switch p{
  padding:0px 7px;;
}

.text {
    color: green;
    /* color: rgb(156, 156, 156); */

}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 27px;
  margin-bottom: 5  px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #72FF72;
  -webkit-transition: .35s;
  transition: .35s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 2px;
  bottom: 2px;
  background-color: green;
  /* background-color: #2474DF; */
  -webkit-transition: .35s;
  transition: .35s;
}

input:checked + .slider {
  background-color: #72FF72;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(68, 68, 68);
}

input:checked + .slider:before {
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

</style>
