<template>
    <div id = "tree_section">
      <img src="../assets/GrimmLogoTrees/GFM_Tree_600x1000.png" alt="">
      <div class = "labels">
        <p >Original Music</p>
        <p >Film Scoring</p>
        <p >Licensing</p>
      </div>

    </div>
</template>

<script>
export default {

};
</script>

<style scoped>
    #tree_section {
        margin-bottom: 10px;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    img {
        max-width: 100%;
        max-height: 75vh;
    }

    p {
        margin: 0px 10px;
        font-size: 30px;
    }

    .labels {
        display:flex;
        justify-content: space-around;
        width: 600px;
        max-width: 100%;
        margin-top: -15px;
    }

    @media screen and (max-width: 700px){
        p{
            font-size: 1em;
        }
    }
</style>
