<template>
    <div id="worksSection" class="sectionFlex">
            <router-link to='/music/browse'>
                <div class="workContainer">
                    <img src ='../assets/GrimmLogoTrees/GFM_BlackBGWhiteTree_500x500.png' alt="">
                    <div class="overlay">
                        <div class="overlayText">Catalog</div>
                    </div>
                </div>
            </router-link>
            <!-- <router-link to='/portfolio'><img src="../assets/GrimmLogoTrees/GFM_BlackBGWhiteTree_500x500.png" alt=""></router-link> -->
            <router-link to='/portfolio'>
                <div class="workContainer">
                    <img src ='../assets/GrimmLogoTrees/GFM_BlackBGWhiteTree_500x500.png' alt="">
                    <div class="overlay">
                        <div class="overlayText">Portfolio</div>
                    </div>
                </div>

            </router-link>
    </div>
</template>

<script>
import { mapMutations } from 'vuex';
import { playlist } from '../grimmData';


export default {
  data() {
    return {
      playlist,
    };
  },
  components: {

  },
  methods: {
    ...mapMutations([
      'setFeaturedWork',

    ]),
  },

  created() {
  },


};
</script>

<style scoped>


    #worksSection {
        display: flex;
        flex-wrap: wrap;

        /* background: black; */
        max-width: 1200px;

        margin: auto;
        margin-bottom: 20px;
        margin-top: 75px;


    }

      .workContainer {
        position: relative;
        /* max-height: 300px; */
        /* width: 200px; */
        margin: 5px;
        max-height: 350px;
        /* max-width: 100%; */
    }


    img {
        /* width: 200px; */
        /* width: 100%; */
        max-height: 350px;
        display: block;

    }

    img:hover {
        cursor: pointer;
    }


    .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(114, 255, 114, 0.973);
    /* background-color: rgb(61, 189, 61); */

    }

    .workContainer:hover .overlay {
    opacity: 1;
    cursor: pointer;
      padding: 0px;
    margin: 0px;
    }

    .overlayText {
        color: rgb(22, 22, 22);
        font-size: 2.5em;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

</style>
