<template>
  <div id="app">

    <the-menu position='top' :showMenu='false'></the-menu>

    <router-view onclick="snowStorm.stop()"></router-view>

    <theFooter onclick="snowStorm.stop()"></theFooter>

  </div>
</template>

<script>
import Menu from './components/Menu';
import Footer from './components/Footer';

export default {
  name: 'App',
  data() {
    return {

    };
  },
  components: {
    theMenu: Menu,
    theFooter: Footer,
  },

};


</script>

<style>

* {
  margin: 0px;
  padding: 0px;
}

#app {
  font-family: 'Quicksand','Raleway',  'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* color: #2c3e50; */
  color: black;
  /* margin-top: 60px; */
}

a {
  text-decoration: none;
  /* color: #2c3e50; */
}

.section {
  min-height: 100vh;
  width: 100%;
}

.sectionFlex {
      display: flex;
      justify-content: center;
      align-items: center;
}


</style>
